@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --background-color: #282d3b;
  --primary-color: #40485d;
  --secondary-color: #333a4b;
  --text-color-primary: #e3e3e4;
  --text-color-secondary: #a3a3a8;
}

::selection {
  background: #3451a1af;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--secondary-color);
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--primary-color);
}

* {
  margin: 0;
  font-family: "Poppins", sans-serif;
  color: var(--text-color-primary);
}

body {
  background-color: #C8C8C8;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='200' height='200' viewBox='0 0 200 200'%3E%3Cg %3E%3Cpolygon fill='%23780000' points='100 57.1 64 93.1 71.5 100.6 100 72.1'/%3E%3Cpolygon fill='%23870e0b' points='100 57.1 100 72.1 128.6 100.6 136.1 93.1'/%3E%3Cpolygon fill='%23780000' points='100 163.2 100 178.2 170.7 107.5 170.8 92.4'/%3E%3Cpolygon fill='%23870e0b' points='100 163.2 29.2 92.5 29.2 107.5 100 178.2'/%3E%3Cpath fill='%23962016' d='M100 21.8L29.2 92.5l70.7 70.7l70.7-70.7L100 21.8z M100 127.9L64.6 92.5L100 57.1l35.4 35.4L100 127.9z'/%3E%3Cpolygon fill='%23212149' points='0 157.1 0 172.1 28.6 200.6 36.1 193.1'/%3E%3Cpolygon fill='%23282850' points='70.7 200 70.8 192.4 63.2 200'/%3E%3Cpolygon fill='%23302F58' points='27.8 200 63.2 200 70.7 192.5 0 121.8 0 157.2 35.3 192.5'/%3E%3Cpolygon fill='%23282850' points='200 157.1 164 193.1 171.5 200.6 200 172.1'/%3E%3Cpolygon fill='%23212149' points='136.7 200 129.2 192.5 129.2 200'/%3E%3Cpolygon fill='%23302F58' points='172.1 200 164.6 192.5 200 157.1 200 157.2 200 121.8 200 121.8 129.2 192.5 136.7 200'/%3E%3Cpolygon fill='%23212149' points='129.2 0 129.2 7.5 200 78.2 200 63.2 136.7 0'/%3E%3Cpolygon fill='%23302F58' points='200 27.8 200 27.9 172.1 0 136.7 0 200 63.2 200 63.2'/%3E%3Cpolygon fill='%23282850' points='63.2 0 0 63.2 0 78.2 70.7 7.5 70.7 0'/%3E%3Cpolygon fill='%23302F58' points='0 63.2 63.2 0 27.8 0 0 27.8'/%3E%3C/g%3E%3C/svg%3E");
}

mark {
  background: var(--background-color);
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 65%;
  padding: 5vh 0;
  margin: auto;
  column-gap: 15px;
  row-gap: 15px;
}

.item {
  overflow: hidden;
  border-radius: 3px;
  box-shadow: 0 0 30px #0008;
}

.item-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--primary-color);
  padding: 10px 15px;
}

.item-title {
  font-size: 18px;
  font-weight: 500;
}

.item-data {
  background: var(--secondary-color);
  color: var(--text-color-secondary);
  padding: 10px 15px;
  height: 100%;
}

.page-title {
  text-align: center;
  margin: 25px 0;
  font-size: 70px;
  color: var(--text-color-primary);
  text-shadow: 
    1px 1px 0 #000,
    -1px 1px #000,
    1px -1px 0 #000,
    -1px -1px 0 #000,
    0 0 30px #0008;
}

@media (max-width: 1280px) {
  .container {
    width: 85%;
  }
}